body {
  background: #59381B;
  color: #E3B771;
  font-family: 'Nunito', 'Open Sans', 'Helvetica', sans-serif;
  font-size: 1.0em;
}

a {
  color: #61C456;
  text-decoration: underline;
  border-style: none;
  border-radius: 0.25em;
}

a[aria-current="page"] {
  background: #E3B771;
  color: #59381B;
  text-decoration: underline overline transparent;
}

a:hover,
a:focus {
  background: #61C456;
  color: #59381B;
  text-decoration: none;
  box-shadow: 0 0 0 0.0625rem #59381B,
              0 0 0 0.1875rem #61C456;
  outline: 0.1250em solid transparent;
  outline-offset: 0.0625em;
}

a:active {
  box-shadow: 0 0 0 0.0625rem #59381B,
              0 0 0 0.3125rem #61C456;
}

a.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a.skip-link:focus {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: auto;
  height: auto;
}

header {
  text-align: center;
  max-width: 30em;
  margin: 0.5em auto;
  padding: 0.5em 0;
  margin-bottom: 1em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  font-size: 1.25em;
  margin: 0.125em;
}

nav ul li:first-child {
  display: block;
  font-size: 2em;
}

nav ul li a {
  padding: 0 0.5em;
}

p,
li {
  line-height: 1.5;
}

main {
  text-align: left;
  max-width: 30em;
  margin: 0.5em auto;
  outline: 0;
}

#main-photo {
  text-align: center;
}

#main-photo a {
  border-radius: 0.50rem;
  display: inline-block;
  background: none;
}

#main-photo a img {
  max-width: 100%;
  border-radius: 0.50rem;
  display: block;
}
